# /
/ant-build
/src
/bin
/bin/**
/embergraph*.jar
/ant-release
/standalone
/test*
/countersfinal.xml
/events.jnl
/.settings
/*.jnl
/TestInsertRate.out
/SYSTAP-BBT-result.txt
/U10load+query
/*.hprof
/org.embergraph.cache.TestHardReferenceQueueWithBatchingUpdates.exp.csv
/commit-log.txt
/eventLog
/dist
/embergraph-test
/org.embergraph.rdf.stress.LoadClosureAndQueryTest.*.csv
/DIST.*.tgz
/REL.*.tgz
/target
.classpath
.project

# /embergraph/
/embergraph/bin
/embergraph/*.jnl
/embergraph/*.mdmp
/embergraph/*.dump
/embergraph/*.out
/embergraph/*.seg
/embergraph/com_embergraph_btree_BytesUtil_UnsignedByteArrayComparator.h
/embergraph/com_embergraph_btree_BytesUtil.h
/embergraph/*.raw2
/embergraph/*.tmp
/embergraph/test_*
/embergraph/org.embergraph.journal.StressTestConcurrent.comparison.csv
/embergraph/embergraph.jar
/embergraph/run.bat
/embergraph/ant-build
/embergraph/ant-deploy
/embergraph/log
/embergraph/TestService.id
/embergraph/stack-traces
/embergraph/*.csv
/embergraph/*.xls
/embergraph/*.id
/embergraph/target
/embergraph/output.tsv
/embergraph/counters*.xml
/embergraph/.classpath
/embergraph/.project
/embergraph/EDS
/embergraph/row
/embergraph/store
/embergraph/testIndex
/embergraph/src/java/com/embergraph/BuildInfo.java
embergraph-core/embergraph/src/java/com/embergraph/BuildInfo.java
**/BuildInfo.java

# /embergraph/lib/
/embergraph/lib/rio-1.2.1.jar
/embergraph/lib/openrdf-model-1.2.1.jar
/embergraph/lib/embergraph.jar

# /embergraph/src/architecture/
/embergraph/src/architecture/btree
/embergraph/src/architecture/(version
/embergraph/src/architecture/1).xls

# /embergraph/src/java/com/embergraph/cache/
/embergraph/src/java/com/embergraph/cache/BCHMGlobalLRU.java

# /embergraph/src/java/com/embergraph/relation/accesspath/
/embergraph/src/java/com/embergraph/relation/accesspath/BlockingBufferRefactorTemp.java

# /embergraph/src/java/com/embergraph/relation/rule/eval/
/embergraph/src/java/com/embergraph/relation/rule/eval/NestedSubqueryWithAdvancerTask.java

# /embergraph/src/java/com/embergraph/sparse/
/embergraph/src/java/com/embergraph/sparse/IDistributedLock.java

# /embergraph/src/resources/xml/
/embergraph/src/resources/xml/counters1.xml
/embergraph/src/resources/xml/counters0.xml
/embergraph/src/resources/xml/counters2.xml

# /embergraph/src/samples/com/embergraph/samples/btree/
/embergraph/src/samples/com/embergraph/samples/btree/JournalTxExample.java
/embergraph/src/samples/com/embergraph/samples/btree/ReadWriteIndexTxExample.java

# /embergraph/src/test/com/embergraph/util/concurrent/
/embergraph/src/test/com/embergraph/util/concurrent/TestCompletionService.java
/embergraph/src/test/com/embergraph/util/concurrent/CompletionServiceImpl.java

# /embergraph-gom/
/embergraph-gom/bin
/embergraph-gom/lib
/embergraph-gom/*.db
/embergraph-gom/*.lg
/embergraph-gom/TestNG
/embergraph-gom/context
/embergraph-gom/suite.launch
/embergraph-gom/GOM-suite.xml
/embergraph-gom/.gom-for-jdbm.GOM-suite.xml.launch
/embergraph-gom/.project
/embergraph-gom/.classpath
/embergraph-gom/target
/embergraph-gom/TODO
/embergraph-gom/*.jnl
/embergraph-gom/*.mdmp

# /embergraph-jini/
/embergraph-jini/bin
/embergraph-jini/*.jnl
/embergraph-jini/*.mdmp
/embergraph-jini/*.dump
/embergraph-jini/*.out
/embergraph-jini/*.seg
/embergraph-jini/com_embergraph_btree_BytesUtil_UnsignedByteArrayComparator.h
/embergraph-jini/com_embergraph_btree_BytesUtil.h
/embergraph-jini/*.raw2
/embergraph-jini/*.tmp
/embergraph-jini/test_*
/embergraph-jini/org.embergraph.journal.StressTestConcurrent.comparison.csv
/embergraph-jini/embergraph.jar
/embergraph-jini/run.bat
/embergraph-jini/ant-build
/embergraph-jini/ant-deploy
/embergraph-jini/log
/embergraph-jini/TestService.id
/embergraph-jini/stack-traces
/embergraph-jini/*.csv
/embergraph-jini/*.xls
/embergraph-jini/*.id
/embergraph-jini/target
/embergraph-jini/standalone
/embergraph-jini/embergraph-jini.jar
/embergraph-jini/.classpath
/embergraph-jini/.project
/embergraph-jini/counters*.xml
/embergraph-jini/zookeeper
/embergraph-jini/test-fed

# /embergraph-jini/lib/
/embergraph-jini/lib/rio-1.2.1.jar
/embergraph-jini/lib/openrdf-model-1.2.1.jar
/embergraph-jini/lib/embergraph.jar

# /embergraph-jini/src/java/com/embergraph/service/jini/
/embergraph-jini/src/java/com/embergraph/service/jini/SolutionSerializer.java

# /embergraph-jini/src/test/com/embergraph/service/jini/
/embergraph-jini/src/test/com/embergraph/service/jini/IteratorProxy.java
/embergraph-jini/src/test/com/embergraph/service/jini/IteratorProxyState.java
/embergraph-jini/src/test/com/embergraph/service/jini/TestPageServer.java
/embergraph-jini/src/test/com/embergraph/service/jini/IteratorService.java

# /embergraph-perf/bsbm/
/embergraph-perf/bsbm/ant-build

# /embergraph-perf/lubm/
/embergraph-perf/lubm/ant-build
/embergraph-perf/lubm/*result.txt
/embergraph-perf/lubm/sample.query.sparql

# /embergraph-perf/lubm/src/java/edu/lehigh/swat/bench/ubt/
/embergraph-perf/lubm/src/java/edu/lehigh/swat/bench/ubt/answers (U1)

# /embergraph-perf/lubm/src/java/edu/lehigh/swat/bench/ubt/embergraph/
/embergraph-perf/lubm/src/java/edu/lehigh/swat/bench/ubt/embergraph/*eossys*
/embergraph-perf/lubm/src/java/edu/lehigh/swat/bench/ubt/embergraph/notes.txt
/embergraph-perf/lubm/src/java/edu/lehigh/swat/bench/ubt/embergraph/JDSTest.java

# /embergraph-rdf/
/embergraph-rdf/*.jnl
/embergraph-rdf/perf.doc
/embergraph-rdf/perf.txt
/embergraph-rdf/README.txt
/embergraph-rdf/data
/embergraph-rdf/run.bat
/embergraph-rdf/.settings
/embergraph-rdf/perf.xls
/embergraph-rdf/*.out
/embergraph-rdf/*.jardesc
/embergraph-rdf/testjar
/embergraph-rdf/bin
/embergraph-rdf/embergraph-rdf.jar
/embergraph-rdf/ant-build
/embergraph-rdf/*.seg
/embergraph-rdf/TaskA
/embergraph-rdf/TestMetrics-metrics.csv
/embergraph-rdf/TestMetrics-metrics-compare256a.xls
/embergraph-rdf/*.dump
/embergraph-rdf/*.mdmp
/embergraph-rdf/TestMetrics-metrics-smallDocuments-overflow20M.xls
/embergraph-rdf/TestMetrics-metrics-documents-1partition-10k-OOM.csv
/embergraph-rdf/TestMetrics-metrics-smallDocuments-noPartitions.csv
/embergraph-rdf/smallDocuments
/embergraph-rdf/test_loadFile_presortRioLoader
/embergraph-rdf/TestMetrics-metrics*
/embergraph-rdf/BBN
/embergraph-rdf/Triple
/embergraph-rdf/Store
/embergraph-rdf/Study
/embergraph-rdf/*.id
/embergraph-rdf/test_*
/embergraph-rdf/next-steps.doc
/embergraph-rdf/target
/embergraph-rdf/~*
/embergraph-rdf/worklist
/embergraph-rdf/TestMetrics
/embergraph-rdf/segments
/embergraph-rdf/journals
/embergraph-rdf/standalone
/embergraph-rdf/counters*.xml
/embergraph-rdf/U10*
/embergraph-rdf/test
/embergraph-rdf/docs
/embergraph-rdf/embergraph.jar
/embergraph-rdf/embergraph-starter-kit.tgz
/embergraph-rdf/.project
/embergraph-rdf/.classpath
/embergraph-rdf/docs.zip
/embergraph-rdf/timegrid.xml
/embergraph-rdf/timegrid.xhtml
/embergraph-rdf/moveerr1.txt
/embergraph-rdf/moveerr2.txt
/embergraph-rdf/err1.txt
/embergraph-rdf/U*MovesOk.txt
/embergraph-rdf/U*Ok?.txt
/embergraph-rdf/test*

# /embergraph-rdf/LEGAL/
/embergraph-rdf/LEGAL/piccolo-LICENSE.txt

# /embergraph-rdf/lib/
/embergraph-rdf/lib/piccolo-README.txt
/embergraph-rdf/lib/Piccolo.jar

# /embergraph-rdf/src/java/
/embergraph-rdf/src/java/edu
/embergraph-rdf/src/java/sesamewrapper

# /embergraph-rdf/src/java/com/embergraph/rdf/load/
/embergraph-rdf/src/java/com/embergraph/rdf/load/DumpUtility.java

# /embergraph-rdf/src/java/com/embergraph/rdf/spo/
/embergraph-rdf/src/java/com/embergraph/rdf/spo/FastRDFSIDValueCoder.java

# /embergraph-rdf/src/java/org/openrdf/rio/
/embergraph-rdf/src/java/org/openrdf/rio/helpers

# /embergraph-rdf/src/test/
/embergraph-rdf/src/test/edu

# /embergraph-rdf/src/test/com/embergraph/rdf/
/embergraph-rdf/src/test/com/embergraph/rdf/blip

# /embergraph-rdf/src/test/com/embergraph/rdf/inf/
/embergraph-rdf/src/test/com/embergraph/rdf/inf/alibaba_v41.rdf
/embergraph-rdf/src/test/com/embergraph/rdf/inf/wordnet-20000620.rdfs
/embergraph-rdf/src/test/com/embergraph/rdf/inf/wordnet_nouns-20010201.rdf
/embergraph-rdf/src/test/com/embergraph/rdf/inf/notes.txt

# /embergraph-rdf/src/test/com/embergraph/rdf/metrics/
/embergraph-rdf/src/test/com/embergraph/rdf/metrics/Test*ReferenceLoad.java

# /embergraph-rdf/src/test/com/embergraph/rdf/rules/
/embergraph-rdf/src/test/com/embergraph/rdf/rules/alibaba_v41.rdf
/embergraph-rdf/src/test/com/embergraph/rdf/rules/wordnet-20000620.rdfs
/embergraph-rdf/src/test/com/embergraph/rdf/rules/wordnet_nouns-20010201.rdf
/embergraph-rdf/src/test/com/embergraph/rdf/rules/notes.txt

# /embergraph-sails/
/embergraph-sails/bin
/embergraph-sails/target
/embergraph-sails/*.dump
/embergraph-sails/*.mdmp
/embergraph-sails/*.jnl
/embergraph-sails/test.rdf
/embergraph-sails/.classpath
/embergraph-sails/.project
/embergraph-sails/data
/embergraph-sails/countersfinal.xml

# /embergraph-sails/LEGAL/
/embergraph-sails/LEGAL/piccolo-LICENSE.txt

# /embergraph-sails/src/java/
/embergraph-sails/src/java/edu
/embergraph-sails/src/java/sesamewrapper

# /embergraph-sails/src/java/com/embergraph/rdf/
/embergraph-sails/src/java/com/embergraph/rdf/blip

# /embergraph-sails/src/java/com/embergraph/rdf/sail/
/embergraph-sails/src/java/com/embergraph/rdf/sail/SimpleRdfsRepository.java

# /embergraph-sails/src/java/com/embergraph/rdf/sail/bench/
/embergraph-sails/src/java/com/embergraph/rdf/sail/bench/ChangeFederationBranchingFactor.java

# /embergraph-sails/src/resources/
/embergraph-sails/src/resources/U1

# /embergraph-sails/src/samples/com/embergraph/samples/
/embergraph-sails/src/samples/com/embergraph/samples/baseball.stats.out.rdf.zip

# /embergraph-sails/src/test/com/embergraph/rdf/sail/
/embergraph-sails/src/test/com/embergraph/rdf/sail/old
/embergraph-sails/src/test/com/embergraph/rdf/sail/Test.java
/embergraph-sails/src/test/com/embergraph/rdf/sail/system.rdfs
/embergraph-sails/src/test/com/embergraph/rdf/sail/test.rdf

# /embergraph-sails/src/test/com/embergraph/rdf/sail/tck/
/embergraph-sails/src/test/com/embergraph/rdf/sail/tck/DoNotDistribute_QueryTest.java
/embergraph-sails/src/test/com/embergraph/rdf/sail/tck/data-2.ttl
/embergraph-sails/src/test/com/embergraph/rdf/sail/tck/TestSparqlStuff.java

# /embergraph-sails/src/test/com/embergraph/rdf/stress/
/embergraph-sails/src/test/com/embergraph/rdf/stress/LoadClosureAndQueryExperiment-EOSSYS.xml
/embergraph-sails/src/test/com/embergraph/rdf/stress/config.query.eossys

# /dsi-utils/
/dsi-utils/ant-build

# /lgpl-utils/
/lgpl-utils/ant-build

# /src/resources/config/
/src/resources/config/embergraphCluster-bbt.config

# ignore all HA CI benchmark files.
benchmark

/embergraph-perf/gas/*.out
/embergraph-perf/gas/*.test
/embergraph-perf/gas/*.jnl

#Journal files
*.jnl
**/*.jnl

*~

*.log

*.log

/*/target

.DS_Store
**/.DS_Store
**/.settings

#Maven files
**/pom.xml.versionsBackup
**/pom.xml.releaseBackup
**/dependency-reduced-pom.xml
**/release.properties
target/
target/**
*/target/**

embergraph-rdf-test/test_tiny.out

embergraph-rdf-test/test_small.out

*.out

**/embergraph.jnl

build
.gradle
.idea
*.iml
